@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background: #c9ced3;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "League Spartan", sans-serif;
  font-size: 12px;
}

.player-container{
  width: 400px;
  height: 500px;
  background: #e7e7e7;
  border-radius: 20px;
  box-shadow: 0 15px 30px 5px rgba(0,0,0,.3);
}

.img-container{
  width: 300px;
  height: 300px;
  position: relative;
  top: -50px;
  margin: 0 auto;
}

img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
  box-shadow: 0 5px 30px 5px rgba(0,0,0,.5)
}

.song{
  font-size: 25px;
  text-align: center;
  font-weight: 700;
}

.artist{
  font-size: 20px;
  text-align: center;
  font-weight: 400;
}

.progress-container{
  width: 90%;
  margin: 40px auto;
  border-radius: 5px;
  height: 8px;
  background: #fff;
  cursor: pointer;
}

.progress{
  width: 0%;
  height: 100%;
  border-radius: 5px;
  background-color: #242323;
  transition: width 0.1s linear;
}

.duration-wrapper{
  display: flex;
  justify-content: space-between;
  position: relative;
  top: -25px;
}

.duration-wrapper span{
  font-size: 16px;
  font-weight: 300;
  letter-spacing: 1px;
}

.audio-controls{
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-solid{
  font-size: 30px;
  color: rgb(129, 129, 129);
  cursor: pointer;
  user-select: none;
}

.fa-solid:hover{
  filter: brightness(80%);
}

.main-btn{
  font-size: 40px;
}

@media screen and (max-width : 420px){
  .player-container{
    width: 90vw;
  }

  .img-container{
    width: 80%;
  }

  .song
  {
    font-size: 20px;
  }

  .artist{
    font-size: 15px;
  }

  .duration-wrapper span{
    font-size: 12px;
  }

  .audio-controls{
    width: 50%;
  }
}